//App Custom Variable 
@import "custom-variable";
//Include mixins
@import "utils";


@media screen and (max-width:1280px){
	
}
@media screen and (max-width:1152px){
		
}
/* Max With CRT Manitor Only */
@media screen and (max-width:1024px){
	
}
@media screen and (device-width:1024px){
	
}
@media screen and (min-width:1024px) and (max-width:1152px){
    
}
@media screen and (min-width:1025px) and (max-width:1152px){


}
@media screen and (min-width:1153px) and (max-width:1280px){
	
}
@media screen and (min-width:1281px) and (max-width:1366px){
	
}
@media screen and (min-width:1367px) and (max-width:1400px){
	
}
@media screen and (min-width:1401px) and (max-width:1440px){
	
}
@media screen and (min-width:1441px) and (max-width:1600px){
	
}
@media screen and (min-width:1601px) and (max-width:1680px){
	
}
@media screen and (min-width:1681px) and (max-width:1920px){
	
}
/* Common Responsive Css Only */
@media screen and (min-width:100px) and (max-width:736px){	
    .deskTopHeader { display: none; }
    .mobileHeader { 
        display: block;
        background: #f1f5f6;
        padding: 57px 25px 25px 25px;
        .mobHeaderWrap {
            @include displayFlex(center, center);
            .logo {
                a {
                    text-indent: -9999px;
                    display: block;
                    width: 65px;
                    height: 45px;
                    background: rgb(240, 78, 78);
                }
            }
            @mixin iconButton {
                @include square(34px, 50%);
                display: block;
                background: #fff;
                box-shadow: 0px 5px 20px rgba(90, 90, 90, 0.2);
            }
            .mobHeaderBtnSec {
                margin-left: auto;
                @include displayFlex;
                .searchButton {
                    margin-right: 13px;
                    a {
                        @include iconButton;
                    }
                }
                .accountButton {
                    margin-right: 13px;
                    & > a {
                        @include iconButton;
                    }
                    .accountDropDown {
                        background: #fff;
                        border-radius: 8px;
                        width: 90%;
                        padding: 25px 0;
                        position: fixed;
                        left: 0;
                        right: 0;
                        margin: 100px auto 0;
                        opacity: 0;
                        visibility: hidden;
                        @include transition(all 0.3s ease);
                        &.opened {
                            margin: 17px auto 0;
                            opacity: 1;
                            visibility: visible;
                        }
                        & > ul {
                            & > li {
                                & > a {
                                    font-weight: 500;
                                    font-size: 14px;
                                    line-height: 14px;
                                    color: #2C6698;
                                    padding: 16px 62px;
                                    display: block;
                                    // border-bottom: 1px solid rgba(0, 0, 0, 0.08);
                                    position: relative;
                                    &:before {
                                        content: "";
                                        position: absolute;
                                        width: 280px;
                                        height: 1px;
                                        background: rgba(0, 0, 0, 0.08);
                                        bottom: 0;
                                        left: 0; right: 0; margin: auto;
                                    }
                                }
                                &:last-child a:before {
                                    display: none;
                                }
                                ul {
                                    background: #EBF5F9;
                                    padding: 0 35px 0 75px;
                                    display: none;
                                    li {
                                        a {
                                            font-size: 12px;
                                            line-height: 14px;
                                            color: $primaryBlue;
                                            display: block;
                                            padding: 16px 0px 16px 0px;
                                            border-bottom: 1px solid rgba(0, 0, 0, 0.08);
                                        }
                                        &:last-child a {
                                            border-bottom: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .hamBurgerMenu {
                    width: 35px;
                    @include displayFlex(center, center);
                    cursor: pointer;
                    & > a {
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                        padding: 0;
                        @include hamBurgerMenuIcon($primaryBlue);
                        // &:hover {
                        //     @include hamBurgerHoverEffect;
                        // }
                    }
                }
            }
        }


        .hamMenuSection {
            position: fixed;
            top: 0;
            left: 100%;
            width: 100%;
            height: 100vh;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            background: #fff;
            $hamSectionLRPadding: 24px;
            @include transition(left 0.3s ease);
            &.opened { left: 0; }
            h3 {
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                color: #9198A9;
            }
            .logoSection {
                @include displayFlex(space-between, center);
                padding: 55px $hamSectionLRPadding 20px;
                .logo a {
                    text-indent: -9999px;
                    display: block;
                    width: 65px;
                    height: 45px;
                    background: rgb(240, 78, 78);
                }
                .closeBtn {
                    margin-left: auto;
                }
            }
            .subMenuSection {
                position: fixed;
                top: 0;
                left: 100%;
                width: 100%;
                height: 100vh;
                overflow-y: scroll;
                -webkit-overflow-scrolling: touch;
                background: #fff;
                z-index: 9;
                padding: 0 0 50px;
                @include transition(left 0.3s ease);
                &.opened { left: 0; }
                .subMenuBC {
                    margin:0 0 40px;
                    padding: 0px $hamSectionLRPadding 0px;
                    a {
                        font-size: 12px;
                        line-height: 22px;
                        color: #233253;
                    }
                }
                nav {
                    padding: 0px $hamSectionLRPadding 0px;
                }
                
            }
            .hamBtnSection {
                @include displayFlex(space-between, center);
                padding: 0 $hamSectionLRPadding 40px;
                a {
                    width: 48%;
                    text-align: center;
                    padding: 5px 8px;
                }
            }
            .hamMenuLinks {
                padding: 0px $hamSectionLRPadding 48px;
                h3 {
                    margin-bottom: 24px;
                }
                nav {
                    ul {
                        li {
                            margin-bottom: 24px;
                            a {
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 14px;
                                color: #2C6698;
                                padding-left: 14px;
                            }
                            &:last-child {
                                margin: 0;
                            }
                        }
                    }
                }
            }
            .hamQuickLinkSection {
                background: #EBF5F9;
                padding: 40px $hamSectionLRPadding 60px;
                .hamQuickLink {
                    h3 {
                        margin-bottom: 24px;
                        
                    }
                    nav {
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                        padding:0 0 32px;
                        ul {
                            li {
                                margin-bottom: 24px;
                                a {
                                    font-weight: 500;
                                    font-size: 14px;
                                    line-height: 14px;
                                    color: #2C6698;
                                }
                                &:last-child {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
            .appDwnldForm {
                padding-top: 32px;
                h3 {
                    margin-bottom: 17px;
                }
                .formInput {
                    margin-bottom: 18px;
                    input {
                        width: 100%;
                        background: #fff;
                        border-radius: 4px;
                        height: 44px;
                        line-height: 44px;
                        border: 0;
                        padding: 0 14px;
                        font-style: italic;
                        font-weight: 300;
                        font-size: 12px;
                        line-height: 23px;
                    }
                }
                .formBtn {
                    @include displayFlex;
                    button {
                        background: $grayDisclaimer;
                        color: #fff;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 20px;
                        padding: 8px 16px;
                        border-radius: 4px;
                        border: 0;
                    }
                    .appleStore {
                        margin-left: auto;
                    }
                }
            }
        }
    }
    footer {
        padding: 40px 0 56px;
        $footerSidePadding: 38px;
        .wrapper {
            width: 100%;
        }
        .footerMenu {
            padding: 36px $footerSidePadding 39px;
            margin-bottom: 0;
            ul {
                width: 100%;
                flex-direction: column;
                li {
                    padding: 0px 0;
                    margin: 0 0 18px;
                    a {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 18px;
                        color: #231F20; 
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        
        .footerFormSec {
            padding: 38px $footerSidePadding 40px;
            flex-direction: column;
            margin: 0;
            .footerFormBlk { display: none; }
            .stayUpdatedSec { display: block; }
            h3 {
                font-size: 16px;
                margin-bottom: 16px;
            }
    
            form {
                $formInputHeight: 44px;
                $formInputWidth: 70%;
                input {
                    height: $formInputHeight;
                    line-height: $formInputHeight;
                    width: $formInputWidth;
                }
                button {
                    height: $formInputHeight;
                    line-height: $formInputHeight;
                    width: 100% - $formInputWidth;
                }
            }
        }
        .mobileFooterMenu {
            display: block;
            padding: 0 $footerSidePadding 30px;
            ul {
                @include displayFlex(space-between);
                li {
                    a {
                        font-size: 12px;
                        line-height: 18px;
                        color: #231F20;
                    }
                }
            }
        }

        .externalLinks, .footerInfo {
            display: none;
        }
        .mobileFooterInfo { 
            display: block;
            padding: 0 $footerSidePadding 15px;
            h4 {
                font-weight: normal;
                font-size: 12px;
                line-height: 17px;
                color: #666666;
                margin: 0 0 15px;
            }
        }
        .bewareAlert {
            padding: 0 $footerSidePadding 0px;
            div {
                padding: 29px 9px;
                h3 {
                    font-size: 13px;
                    margin: 0 0 11px;
                }
                p {
                    font-size: 11px;
                    max-width: 100%;
                }
            }
        }
    }
}
@media screen and (min-width:100px) and (max-width:414px){
    
}
/* Max With 320 Only */
@media screen and (min-width:100px) and (max-width:320px){
	
    
}
/* Max With 360 Only */
@media screen and (min-width:321px) and (max-width:360px){
	
	
}
/* Max With Iphone6 Portrait Only */
@media screen and (min-width:361px) and (max-width:375px){
	
	
}
/* Max With Iphone6+ Portrait Only */
@media screen and (min-width:376px) and (max-width:414px){
	
}
/* Max With 480 Only */
@media screen and (min-width:415px) and (max-width:480px){
	
}
@media screen and (min-width:535px) and (max-width:598px){
	
}
@media screen and (min-width:481px) and (max-width:736px){
	

}
@media screen and (min-width:481px) and (max-width:568px){
	
	
}
/* Max With 640 Only */
@media screen and (min-width:599px) and (max-width:640px){
	
}
/* Max With Iphone6 Landscape Only */
@media screen and (min-width:641px) and (max-width:667px){
	
}
/* Max With Iphone6+ Landscape Only */
@media screen and (min-width:668px) and (max-width:736px){
	
	
}

@media screen and (min-width:481px) and (max-width:534px){
	
}
/* Ipad Landscpe and Portrait */
@media screen and (min-device-width:768px) and (max-device-width:1023px){
    
}
/* Max With Ipad Portrait Only */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){

}
/* Max With Ipad Landscape Only */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
	
}